---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "About me";
const description = "¿Quién soy yo?";
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<PageLayout pageTitle={pageTitle} title={pageTitle} description={description}>
  <section class="bg-gray-200 py-6">
      <div class="container mx-auto px-6 items-center px-4 sm:px-6 lg:px-8 py-6 max-w-6xl">
        <div class="w-full">
        <h2 class="text-4xl font-bold mb-4">Un poco sobre mí.</h2>
          <div class="space-y-4 text-gray-800">
            <p class="text-lg font-semibold">
              Debuggeando mi carrera: Del desastre al desarrollo
            </p>

            <p class="text-base content-font">
              Mi aventura con los bits y bytes comenzó en la era jurásica de la tecnología, cuando los módems rugían y Windows 95 era el nuevo rey de la selva digital. 🦖💻
            </p>

            <p class="text-base content-font">
              Comencé como un destructor de PCs familiares, clickeando aleatoriamente y formateando todo a mi paso. Era el terror de los dispositivos electrónicos, un verdadero depredador tecnológico. 🦕💾
            </p>

            <p class="text-base content-font">
              Pero el tiempo y la experiencia me han transformado. He pasado de romper PCs a crear soluciones, de ser un simple formateador profesional a convertirme en un auténtico arquitecto de código. 
              Ahora, en lugar de causar estragos, domo códigos salvajes y construyo estructuras digitales. 🏗️🐱‍💻
            </p>

            <p class="text-base content-font">
              Soy un malabarista de Full Stack que vive en Barcelona, el terror de los bugs y el héroe de las deadlines. 🤹‍♂️⏰
            </p>

            <p class="text-base content-font">
              En mi caja de herramientas se encuentran <strong>php</strong>, <strong>Symfony</strong>, <strong>SQL</strong>, <strong>CodeIgniter</strong>, <strong>HTML5</strong>, <strong>CSS3</strong>, <strong>JavaScript</strong>, <strong>jQuery</strong>, entre otras.
            </p>

            <p class="text-base content-font">
              Desencripto problemas más rápido que mi gato caza ratones imaginarios, y escribo código tan limpio que Marie Kondo estaría orgullosa. 🐱💻 
            </p>

            <p class="text-base content-font">
              Cuando no estoy mimando mi código con principios SOLID, me pierdo en la naturaleza, explicándole a las ardillas por qué los arrays empiezan en 0. 🐿️🥾
            </p>

            <p class="text-base content-font">
              Pretendo usar este blog para aprender, explicando sobre todos los problemas que me vayan surgiendo en mi carrera profesional.
            </p>

            <p class="text-base content-font">
              Me puedes contactar usando cualquiera de mis redes sociales.
            </p>
            
          </div>
        </div>
      </div>
  </section>

  <section class="bg-gray-100 py-6">
    <div class="container mx-auto px-6 items-center px-4 sm:px-6 lg:px-8 py-6 max-w-6xl">
      <h2 class="text-3xl font-bold mb-6 text-center">Experiencia Laboral</h2>
      <div class="relative border-l-4 border-gray-500 pl-8">
        <div class="mb-8">
          <div class="absolute -left-3.5 bg-gray-500 text-white w-7 h-7 rounded-full text-center"></div>
          <h3 class="text-2xl font-semibold">Eonian Tec S.L</h3>
          <span class="text-gray-600">Agosto 2019 - Presente</span>
          <p class="mt-2 content-font">
            Desarrollé ampliaciones de software y nuevas aplicaciones web para la gestión interna.<br> Automaticé procesos clave, refactoricé código antiguo para mejorar la eficiencia y escalabilidad, y brindé soporte técnico a usuarios. <br>También desarrollé APIs para integrar diversos servicios, mejorando la interoperabilidad de los sistemas.<br> Mi trabajo optimizó la infraestructura tecnológica, facilitando un entorno de trabajo más eficiente y moderno.
          </p>
        </div>
        <div class="mb-8">
          <div class="absolute -left-3.5 mt-1 bg-gray-500 text-white w-7 h-7 rounded-full text-center"></div>
          <h3 class="text-2xl font-semibold">Mutua General de Catalunya</h3>
          <span class="text-gray-600">Abril 2016 - Agosto 2019</span>
          <p class="mt-2">
            <p class="content-font">
              En mi posición en Mutua General de Catalunya, utilicé <strong>php 7.4</strong>, trabajando con <strong>Slim Framework</strong>, <strong>Oracle SQL</strong>, <strong>jQuery</strong>, <strong>CSS3</strong> y <strong>HTML5</strong>.
            </p>
            <p class="content-font">
              Mis responsabilidades incluyeron el consumo y desarrollo de APIs, así como el mantenimiento correctivo y evolutivo de la aplicación core de la empresa. Además, me formé en patrones de diseño, principios <strong>SOLID</strong> y test unitarios, así como en <strong>SCRUM</strong> y <strong>Angular JS</strong>.
            </p>
            
          </p>
        </div>
        <div class="mb-8">
          <div class="absolute -left-3.5 mt-1 bg-gray-500 text-white w-7 h-7 rounded-full text-center"></div>
          <h3 class="text-2xl font-semibold">Winche Redes Comerciales</h3>
          <span class="text-gray-600">Octubre 2015 - Abril 2016</span>
          <p class="mt-2">
            <p class="content-font">
              Trabajé con <strong>php</strong> (versión 7.4), <strong>Symfony</strong> (2.4), <strong>SQL Server</strong>, <strong>jQuery</strong>, <strong>HTML</strong>, <strong>CSS</strong> y <strong>JavaScript</strong>.
            </p>
            <p class="content-font">
              Mis responsabilidades incluyeron tareas evolutivas y correctivas en la aplicación core de la empresa, así como actualizaciones y mejoras en la página web corporativa. También trabajé en la creación y consumo de APIs.
            </p>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-gray-200 py-6">
    <div class="container mx-auto text-center px-4 sm:px-6 lg:px-8 py-6 max-w-6xl">
      <h2 class="text-3xl font-bold mb-6">Descargar CV</h2>
      <p class="mb-6 content-font">
        Si quieres conocer más sobre mi experiencia y habilidades, puedes descargar mi CV completo.
      </p>
      <a href="tu-cv.pdf" download class="bg-gray-500 text-white px-6 py-3 rounded-lg shadow-md hover:bg-gray-600 transition duration-300 ease-in-out">
        <i class="fas fa-download mr-2"></i> Descargar CV
      </a>
    </div>
  </section>

  <section class="bg-gray-100 py-6">
    <div class="container mx-auto px-6 items-center px-4 sm:px-6 lg:px-8 py-6 max-w-6xl">
      <h2 class="text-3xl font-bold mb-6 text-center">Habilidades</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="bg-gray-100 p-6 rounded-lg shadow-md flex items-center">
            <i class="fab fa-js-square text-4xl text-yellow-500 mr-4"></i>
            <div>
              <h3 class="text-xl font-semibold mb-2">JavaScript</h3>
              <p class="content-font">
                Experto en desarrollo con JavaScript, incluyendo frameworks como React y Node.js.
              </p>
            </div>
          </div>
        <div class="bg-gray-100 p-6 rounded-lg shadow-md flex items-center">
            <i class="fab fa-html5 text-4xl text-orange-500 mr-4"></i>
            <div>
              <h3 class="text-xl font-semibold mb-2">HTML & CSS</h3>
              <p class="content-font">
                Sólidos conocimientos en HTML5 y CSS3, así como en preprocesadores como SASS.
              </p>
            </div>
          </div>
          <div class="bg-gray-100 p-6 rounded-lg shadow-md flex items-center">
            <i class="fab fa-php text-4xl text-purple-500 mr-4"></i>
            <div>
              <h3 class="text-xl font-semibold mb-2">PHP</h3>
              <p class="content-font">
                Amplia experiencia en desarrollo backend con PHP, creando aplicaciones robustas y escalables.
              </p>
            </div>
          </div>
          
          <div class="bg-gray-100 p-6 rounded-lg shadow-md flex items-center">
            <i class="fab fa-docker text-4xl text-gray-500 mr-4"></i>
            <div>
              <h3 class="text-xl font-semibold mb-2">Docker</h3>
              <p class="content-font">
                Proficiente en la creación y gestión de contenedores Docker para despliegues eficientes y consistentes.
              </p>
            </div>
          </div>
          
          <div class="bg-gray-100 p-6 rounded-lg shadow-md flex items-center">
            <i class="fab fa-git text-4xl text-red-500 mr-4"></i>
            <div>
              <h3 class="text-xl font-semibold mb-2">GIT</h3>
              <p class="content-font">
                Experiencia en control de versiones con GIT, manejando flujos de trabajo colaborativos y ramas de código.
              </p>
            </div>
          </div>
          
          <div class="bg-gray-100 p-6 rounded-lg shadow-md flex items-center">
            <i class="fab fa-linux text-4xl text-black mr-4"></i>
            <div>
              <h3 class="text-xl font-semibold mb-2">Linux</h3>
              <p class="content-font">
                Habilidades en administración de sistemas Linux, automatización de tareas y gestión de servidores.
              </p>
            </div>
          </div>
          
          <div class="bg-gray-100 p-6 rounded-lg shadow-md flex items-center">
            <i class="fab fa-symfony text-4xl text-black mr-4"></i>
            <div>
              <h3 class="text-xl font-semibold mb-2">Symfony</h3>
              <p class="content-font">
                Experto en el uso de Symfony para desarrollar aplicaciones web robustas y mantenibles.
              </p>
            </div>
          </div>
          
          <div class="bg-gray-100 p-6 rounded-lg shadow-md flex items-center">
            <i class="fas fa-cogs text-4xl text-orange-500 mr-4"></i>
            <div>
              <h3 class="text-xl font-semibold mb-2">CodeIgniter</h3>
              <p class="content-font">
                Experiencia en el desarrollo de aplicaciones web rápidas y ligeras utilizando CodeIgniter.
              </p>
            </div>
          </div>
          
          <div class="bg-gray-100 p-6 rounded-lg shadow-md flex items-center">
            <i class="fab fa-nginx text-4xl text-green-500 mr-4"></i>
            <div>
              <h3 class="text-xl font-semibold mb-2">nginx</h3>
              <p class="content-font">
                Conocimientos en configuración y optimización de servidores web nginx para un rendimiento superior.
              </p>
            </div>
          </div>
          
          <div class="bg-gray-100 p-6 rounded-lg shadow-md flex items-center">
            <i class="fab fa-python text-4xl text-yellow-500 mr-4"></i>
            <div>
              <h3 class="text-xl font-semibold mb-2">Python</h3>
              <p class="content-font">
                Proficiente en Python para desarrollo web y scripting, creando soluciones eficientes y escalables.
              </p>
            </div>
          </div>
          
          <div class="bg-gray-100 p-6 rounded-lg shadow-md flex items-center">
            <i class="fas fa-database text-4xl text-gray-600 mr-4"></i>
            <div>
              <h3 class="text-xl font-semibold mb-2">SQL</h3>
              <p class="content-font">
                Experiencia en el diseño y gestión de bases de datos utilizando SQL, optimizando consultas y estructuras de datos.
              </p>
            </div>
          </div>
          
          <div class="bg-gray-100 p-6 rounded-lg shadow-md flex items-center">
            <i class="fas fa-database text-4xl text-gray-500 mr-4"></i>
            <div>
              <h3 class="text-xl font-semibold mb-2">MySQL</h3>
              <p class="content-font">
                Proficiente en MySQL, realizando administración de bases de datos, optimización y creación de consultas complejas.
              </p>
            </div>
          </div>          

      </div>
      <div class="mt-6"></div>
    </div>
  </section>

</BaseLayout>
