---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Aviso legal";
const description = "";
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<BaseLayout pageTitle={pageTitle} title={pageTitle} description={description}>
    <section class="bg-gray-200 py-6">
        <div class="container mx-auto px-6 items-center px-4 sm:px-6 lg:px-8 py-6 max-w-6xl">
            <div class="w-full">
                <h2 class="text-4xl font-bold mb-4">Aviso Legal</h2>
            </div>
<!--Titular del Blog: [Tu Nombre]
Correo Electrónico: [Tu Correo Electrónico]
-->
        </div>
    </section>
    <section class="bg-white-200">
        <div class="container mx-auto px-6 items-center px-4 sm:px-6 lg:px-8 py-6 max-w-6xl">
            <div class="w-full">
                <p>
                    Este blog, disponible en domin.es, es un portafolio personal en el que se comparte contenido relacionado con programación y desarrollo de software.
                </p>
            </div>
        </div>
    </section>
    <section class="bg-gray-200">
        <div class="container mx-auto px-6 items-center px-4 sm:px-6 lg:px-8 py-6 max-w-6xl">
            <div class="w-full">
                <h2 class="text-2xl font-bold mb-4">1. Protección de Datos Personales</h2>
            </div>
        </div>
    </section>
    <section class="bg-white-200">
        <div class="container mx-auto px-6 items-center px-4 sm:px-6 lg:px-8 py-6 max-w-6xl">
            <div class="w-full">
                <p>
                    Este blog no recopila, almacena ni procesa ningún tipo de dato personal de sus usuarios. No se requieren registros, suscripciones o cualquier otro tipo de interacción que implique la recopilación de información personal.
                </p>
            </div>
        </div>
    </section>
    <section class="bg-gray-200">
        <div class="container mx-auto px-6 items-center px-4 sm:px-6 lg:px-8 py-6 max-w-6xl">
            <div class="w-full">
                <h2 class="text-2xl font-bold mb-4">2. Uso de Cookies</h2>
            </div>
        </div>
    </section>
    <section class="bg-white-200">
        <div class="container mx-auto px-6 items-center px-4 sm:px-6 lg:px-8 py-6 max-w-6xl">
            <div class="w-full">
                <p>
                    Este blog no utiliza cookies ni ninguna otra tecnología similar para recopilar información de los usuarios.
                </p>
            </div>
        </div>
    </section>
    <section class="bg-gray-200">
        <div class="container mx-auto px-6 items-center px-4 sm:px-6 lg:px-8 py-6 max-w-6xl">
            <div class="w-full">
                <h2 class="text-2xl font-bold mb-4">3. Publicidad y Enlaces de Afiliados</h2>
            </div>
        </div>
    </section>
    <section class="bg-white-200">
        <div class="container mx-auto px-6 items-center px-4 sm:px-6 lg:px-8 py-6 max-w-6xl">
            <div class="w-full">
                <p>
                    Este blog no contiene publicidad ni enlaces de afiliados. El contenido es puramente informativo y no se obtiene ningún beneficio económico a través del mismo.
                </p>
            </div>
        </div>
    </section>
    <section class="bg-gray-200">
        <div class="container mx-auto px-6 items-center px-4 sm:px-6 lg:px-8 py-6 max-w-6xl">
            <div class="w-full">
                <h2 class="text-2xl font-bold mb-4">4. Propiedad Intelectual</h2>
            </div>
        </div>
    </section>
    <section class="bg-white-200">
        <div class="container mx-auto px-6 items-center px-4 sm:px-6 lg:px-8 py-6 max-w-6xl">
            <div class="w-full">
                <p>
                    Todo el contenido de este blog, salvo indicación contraria, es propiedad del titular. Se permite su uso y distribución siempre que se cite adecuadamente la fuente.
                </p>
            </div>
        </div>
    </section>
    <section class="bg-gray-200">
        <div class="container mx-auto px-6 items-center px-4 sm:px-6 lg:px-8 py-6 max-w-6xl">
            <div class="w-full">
                <h2 class="text-2xl font-bold mb-4">5. Responsabilidad</h2>
            </div>
        </div>
    </section>
    <section class="bg-white-200 mb-6">
        <div class="container mx-auto px-6 items-center px-4 sm:px-6 lg:px-8 py-6 max-w-6xl">
            <div class="w-full">
                <p>
                    El titular del blog no se hace responsable del uso que los usuarios puedan hacer de la información proporcionada en el mismo. El contenido es meramente informativo y se ofrece "tal cual", sin garantías de ningún tipo.
                </p>
            </div>
        </div>
    </section>
</BaseLayout>