---
const { title, url, description, author, pubDate, tags } = Astro.props;
import { format } from 'date-fns';
import { es } from 'date-fns/locale';
---
<article class="max-w-3xl mx-auto">
    <p class="text-gray-500">
        {format(new Date(pubDate), 'd MMMM, yyyy', { locale: es })}
    </p>
    <h2 class="text-3xl font-semibold my-2">
        <a href={url} class="bg-green-200 hover:bg-green-300">{title}</a>
    </h2>
    <p class="text-xl leading-relaxed mt-4 mb-4 content-font">
        {description}
    </p>
</article>
