---
import { SITE_TITLE, SITE_DESCRIPTION, CONTACT_EMAIL } from '../scripts/globals';
const mailtoLink = `mailto:${CONTACT_EMAIL}`;
---
<footer class="bg-gray-800 text-white bottom-0 w-full py-4">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 flex flex-col items-center justify-center text-center">
        <p>&copy; 2024 {SITE_TITLE}.</p>
        <p>Made with ❤️ in 08940</p>
        <div class="flex space-x-4 mt-2">
            <a href="https://instagram.com/d0min.gl" target="_blank" class="hover:text-green-300">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/domingo-gonzález-lozano-657ba0105" target="_blank" class="hover:text-green-300">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/dgonzalezlozano" target="_blank" class="hover:text-green-300">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <div class="flex space-x-4 mt-2">
            <a href="/aviso-legal" class="text-xs">Aviso Legal</a>
        </div>
    </div>
</footer>

<script src="/src/scripts/menu.js" type="module"></script>
