---
import HeaderElements from "./HeaderElements.astro";
import Mobile from "./Mobile.astro";
const { title, pubDate, author, tags, description, subTitle } = Astro.props;
import { SITE_TITLE, SITE_DESCRIPTION } from '../scripts/globals';
---
<header class="header-background bg-gray-800">
    <div class="container mx-auto max-w-6xl sm:px-6 lg:px-8 relative z-10">
        <HeaderElements />
    </div>
    <div class="header-content">
        <h1 class="header-title text-shadow">{title}</h1>
        <p class="text-xl text-shadow">{subTitle}</p>
    </div>
    <Mobile />
</header>