---
import Navigation from "./Navigation.astro";
import Mobile from "./Mobile.astro";
const { title, pubDate, author, tags, description } = Astro.props;
import { SITE_TITLE, SITE_DESCRIPTION } from '../scripts/globals';
import BoboCatImage from '../images/bobocat_size.png';
---
<header class="header-background">
    <div class="header-overlay"></div>
    <div class="container mx-auto max-w-6xl sm:px-6 lg:px-8 relative z-10">
        <div class="flex justify-between items-center py-4">
            <div class="text-2xl font-bold text-white text-shadow">
                <a href="/blog">
                    <img class="w-12 h-8" src={BoboCatImage.src} title="GatoBobo">
                </a>
            </div>
            <Navigation />
            <div class="-mr-2 flex md:hidden">
                <button id="mobile-menu-button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
                    <span class="sr-only">Open main menu</span>
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="header-content">
        <h1 class="header-title text-shadow">{title}</h1>
        <p class="text-xl text-shadow">{description}</p>
    </div>
    <Mobile />
</header>